body {
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(74,20,209,1) 43%, rgba(107,213,217,1) 48%, rgba(184,180,224,1) 54%, rgba(137,185,242,1) 100%);
}


h2 {
    color: gold;
    text-align: center;
    font-size: 10px;
}

h1 {
    font-family: cursive;
    color: #7700ff;
    text-align: center;
}


p {
    color: gold;
    font-family: verdana;
    font-size: 20px;
}

